extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    each message in messages
      li= message.text +" from " +message.user +" on " +message.added

  a(href='/new') Make a new post